#home-3{
    width: 100%;
}

#same{
    font-size:15px;
    color:white;
    display: inline;
}

#col{
    color:black;
}

#btn{
    text-align: center;
    color:black;
    font-display: bold;
}

.fa {
    text-align: center;
    text-decoration: none;
    background: white;
    height: 40px;
}
  
  .fa-google {
    background: rgb(245, 242, 242);
  }
