#home-3{
    width: 100%;
}

#same{
    font-size:15px;
    color:white;
    display: inline;
}

#col{
    color:black;
}

<<<<<<< HEAD
#he{
    color:rgb(203, 229, 255);
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: 1000;
    
}


#btn{
    
    text-align: center;
    color:black;

=======
#btn{
    text-align: center;
    color:black;
>>>>>>> a3da98a0ee024568e9f606547ae3003f3ecde9dd
    font-display: bold;
}

.fa {
    text-align: center;
    text-decoration: none;
    background: white;
    height: 40px;
<<<<<<< HEAD
  }
  
  
  .fa-google {
    background: rgb(245, 242, 242);
   
  }
  
=======
}
  
  .fa-google {
    background: rgb(245, 242, 242);
  }
>>>>>>> a3da98a0ee024568e9f606547ae3003f3ecde9dd
