<body id="bar" class="page-template-default page page-id-323 custom-background theme-miami woocommerce-no-js wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive" >


		<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1480506860790 vc_row-has-fill padding-lg-200b padding-sm-500b padding-xs-30b">
		<div class="wrapper fade-in" >
			<div class="wpb_column vc_column_container vc_col-sm-12  margin-lg-100t margin-sm-100t margin-xs-100t">
			<div class="vc_column-inner "><div class="wpb_wrapper">	<div class="block-header animatedBlock ">
	
			<h1 id="test" class="block-title" >INITIATIVES</h1>
			<div   class="block-text"><p id="test1" >With every passing year as Technex extends an opportunity for the
				 socially conscious technocrats to table innovative ideas and provide engineering solutions to the social
				  agonies, making sure to take up new initiatives, all that which plays a significant role in our daily
				   lives. Ranging from Anti-corruption drives to Marathons and Blood donations camps with people from 
				   every age group of the society joining it for a better tomorrow. Discussions are held with esteemed
					panelist relating to issues which have huge impact on us. Taking forward this generation to the 
					path our ancients always led to.
			</p>
				 <br>
				 <br>
				 <br>
				 
				</div>
	
	</div>
	</div></div>
	</div>
	</div>
	
</div>

            
            	
		<div id="gallery" class="container add_animation">
					<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12  margin-lg-80t margin-lg-20b margin-sm-35t margin-xs-5t"><div class="vc_column-inner "><div class="wpb_wrapper">			<div class="block-header animatedBlock ">
								
									<h2 class="block-title">INITIATIVE FEATURES</h2>
                                    <div class="block-text"><p>Every year, Technex under its umbrella of activities organises a plethora of events to discuss and create
										 a consensus upon the most recent and substantial issues across the globe. 
										The campaigns include social media awareness complimenting the enthralling on-campus activities that the event undertakes.</p>
                                        <br>
                                    </div>
							</div>
		</div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner "><div class="wpb_wrapper">		
		<!-- MAIN-SLIDER -->
		<div  class="isotope-container_gallery">

			<div id="set" class="grid-sizer col-xs-10 col-sm-2"></div>
              <div class="center">
							<div class="item col-xs-12 col-sm-12 col-md-10">
					<a class="gal-item animatedBlock big lightbox" >
						<img class="gal-item animatedBlock big lightbox" src="/assets/image/initiatives/in_1.jpg" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Marathon Against Corruption&quot;</div>
								<div class="gal-title">&quot;Integrity a way of life&quot;</div>
							</div>
						</div>
					</a>
					</div>
			    </div>

							<div class="item col-xs-12 col-sm-6 col-md-6">
					<a class="gal-item animatedBlock big lightbox" >
						<img class="gal-item animatedBlock big lightbox" src="/assets/image/initiatives/in_2.jpg" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Educating the Youths&quot;</div>
								
							</div>
						</div>
					</a>
			    </div>

							<div class="item col-xs-12 col-sm-6 col-md-6">
					<a class="gal-item animatedBlock small lightbox" >
						<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_3.jpg" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Green Energy &quot;</div>
		
							</div>
						</div>
					</a>
			    </div>



							<div class="item col-xs-12 col-sm-6 col-md-6">
					<a class="gal-item animatedBlock small lightbox" >
						<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_4.jpg" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Initiative Seminar's&quot;</div>
							
							</div>
						</div>
					</a>
			    </div>


							<div class="item col-xs-12 col-sm-6 col-md-6">
					<a class="gal-item animatedBlock big lightbox">
						<img class="gal-item animatedBlock big lightbox" src="/assets/image/initiatives/in_6.jpg" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Energy Saving Awareness&quot;</div>
								
							</div>
						</div>
					</a>
				</div>
				
				<div class="item col-xs-12 col-sm-3 col-md-6">
						<a class="gal-item animatedBlock small lightbox" >
							<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_5.jpg" alt="">						<div class="gal-desc">
								<div class="vertical-align">
									<div class="gal-title">&quot;Awareness Campaign's&quot;</div>
									
								</div>
							</div>
						</a>
					</div>

					<div class="item col-xs-12 col-sm-10 col-md-6">
							<a class="gal-item animatedBlock small lightbox" >
								<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_8.jpg" alt="">						<div class="gal-desc">
									<div class="vertical-align">
										<div class="gal-title">&quot;Planting Trees&quot;</div>
										
									</div>
								</div>
							</a>
						</div>
	

							<div class="item col-xs-1 col-sm-8 col-md-3">
					<a class="gal-item animatedBlock small lightbox" >
						<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_7.png" alt="">						<div class="gal-desc">
							<div class="vertical-align">
								<div class="gal-title">&quot;Protection Of Nature&quot;</div>
							
							</div>
						</div>
					</a>
				</div>
				


					<div class="item col-xs-12 col-sm-6 col-md-6">
							<a class="gal-item animatedBlock small lightbox" >
								<img class="gal-item animatedBlock small lightbox" src="/assets/image/initiatives/in_9.jpg" alt="">						<div class="gal-desc">
									<div class="vertical-align">
										<div class="gal-title">&quot;PLEDGES&quot;</div>
									
									</div>
								</div>
							</a>
						</div>

			

		</div>

		</div></div></div></div>
				</div>

<!-- FOOTER -->
<footer class="footer">

	<!--COPY-->
		<div class="copy">
		© 2020, Technex . All Rights Reserved.	</div>
	
</footer>  


</body>
