#navbar-logo{
    max-height: 100px;
    max-width: 60px;
    height: auto;
    width: auto;
}

#ss{
    font-weight: 950;
    font-size:8px;
}
#ss2{
    font-weight: 750;
    font-size:11px;
}
#ss1{
    font-weight: 750;
    font-size:11px;
    color:rgb(245, 94, 94);
}
