<body id="bar" class="page-template-default page page-id-323 custom-background theme-miami woocommerce-no-js wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive" >

<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1480506860790 vc_row-has-fill padding-lg-200b padding-sm-500b padding-xs-30b">

	<div class="wrapper fade-in" >
		<div class="wpb_column vc_column_container vc_col-sm-12  margin-lg-100t margin-sm-100t margin-xs-100t">
		<div class="vc_column-inner "><div class="wpb_wrapper">	<div class="block-header animatedBlock ">

		<h1 id="test" class="block-title" >StartUp Fair Technex'20.</h1>
		<div   class="block-text"><p id="test1" >Startup Fair is a unique event designed to provide budding entrepreneurs opportunities to shape their innovative ideas in an effective and 
			efficient manner derived from the past experiences and to suit the needs of the future. With this being stated, Startup Fair is a technology accelerator race where only those 
			ace who have the zeal to build an idea from scratch and pitch it the best.
		</p>
			 <br>
			 <br>
			 <br>
			 
			</div>

</div>
</div></div>
</div>
</div>

</div>

	<div class="vc_row-full-width"></div>


	
			
	
	  
		
	<div id="team" class="container add_animation">
			<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12  margin-sm-5t margin-xs-5t"><div class="vc_column-inner "><div class="wpb_wrapper">			<div class="block-header animatedBlock  vc_custom_1476798862326">

		
							<h2 class="block-title">SOME HIGHLIGHTS</h2>
	<!--						<div class="block-text"><p>Technex’20 brings to you “Kaleidoscope”, a stage where musicians, comedians, and renowned artists perform live to brighten up the fest with fun-filled pronites. </p></div>
	-->
	</div>    
</div></div></div></div>
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner vc_custom_1476796624666"><div class="wpb_wrapper">

<ul class="team-wrap  ">


	
		<li class="team-item animatedBlock  ">
			<div class="team-img"><img class="s-img-switch" src="/assets/image/start/suf_1.jpg" alt=""></div>					<div class="descr">
				<div class="vertical-align">
								<!--					<div class="team-title">OLLY ESSE</div>
					
													<div class="team-pos">Musical artist</div>
					
													<div class="team-text">OLLY ESSE. @ollyesse. 40K followers. Electrifying, Energetic Powerhouse sums up Olly Esse. Apart from
														 making music, she loves eating and is a power lifter!! International DJ/Performer </div>
					
													<div class="team-social">
																	<a href="https://www.facebook.com/" title=""  class="fa fa-facebook"></a>
																		<a href="https://twitter.com/" title=""  class="fa fa-twitter"></a>
																		<a href="https://plus.google.com/" title=""  class="fa fa-google-plus"></a>
							
																	</div>
							-->						</div>
												
			</div>

		</li>

		
		<li class="team-item animatedBlock  ">
				<div class="team-img"><img class="s-img-switch" src="/assets/image/start/suf_2.jpg" alt=""></div>					<div class="descr">
					<div class="vertical-align">
									<!--					<div class="team-title">OLLY ESSE</div>
						
														<div class="team-pos">Musical artist</div>
						
														<div class="team-text">OLLY ESSE. @ollyesse. 40K followers. Electrifying, Energetic Powerhouse sums up Olly Esse. Apart from
															 making music, she loves eating and is a power lifter!! International DJ/Performer </div>
						
														<div class="team-social">
																		<a href="https://www.facebook.com/" title=""  class="fa fa-facebook"></a>
																			<a href="https://twitter.com/" title=""  class="fa fa-twitter"></a>
																			<a href="https://plus.google.com/" title=""  class="fa fa-google-plus"></a>
								
																		</div>
								-->						</div>
													
				</div>
	
			</li>

	
</ul>
</div></div></div></div>
		</div>		
			

			
		<div id="news-red" class="container add_animation">
				<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12  margin-lg-95t margin-sm-50t margin-xs-35t"><div class="vc_column-inner vc_custom_1476876568754"><div class="wpb_wrapper">			<div class="block-header animatedBlock ">
							
								<h2 class="block-title">Frequently asked Questions</h2>
								<div class="block-text"><p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p></div>
						</div>
	</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1480431155098 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner "><div class="wpb_wrapper">		<div>
		<div class="row wp-social-margin">

									<div class="news-entry animatedBlock col-xs-12 col-sm-6 col-md-4">
													<div class="news type-1 twitter">
																	<h4><a class="news-title" href="https://twitter.com/loren_miami">Rem ipsum dolor sit amet, consectetur  sed do #Miami elit, sed do eius...</a></h4>
								<div class="news-date"><i class="fa fa-calendar"></i> 11:51 October 19, 2016</div>
								<a class="news-type" rel="nofollow" target="_blank" href="https://twitter.com/loren_miami"><i class="fa fa-twitter"></i></a>
								<div class="news-likes">

									
																			<a href="https://twitter.com/loren_miami"><i class="fa fa-heart"></i> 1</a>
									
								</div>
							</div>
													</div>
											<div class="news-entry animatedBlock col-xs-12 col-sm-6 col-md-4">
													<div class="news type-1 twitter">
																	<h4><a class="news-title" href="https://twitter.com/loren_miami">Morem ipsum dolor sit amet, consectetur  sed do #Miami elit, sed do ei...</a></h4>
								<div class="news-date"><i class="fa fa-calendar"></i> 8:34 October 19, 2016</div>
								<a class="news-type" rel="nofollow" target="_blank" href="https://twitter.com/loren_miami"><i class="fa fa-twitter"></i></a>
								<div class="news-likes">

									
																			<a href="https://twitter.com/loren_miami"><i class="fa fa-heart"></i> 1</a>
									
								</div>
							</div>
													</div>
											<div class="news-entry animatedBlock col-xs-12 col-sm-6 col-md-4">
													<div class="news type-1 twitter">
																	<h4><a class="news-title" href="https://twitter.com/loren_miami">Ipsum dolor sit amet, consectetur  sed do #Miami elit, sed do eiusmod ...</a></h4>
								<div class="news-date"><i class="fa fa-calendar"></i> 8:33 October 19, 2016</div>
								<a class="news-type" rel="nofollow" target="_blank" href="https://twitter.com/loren_miami"><i class="fa fa-twitter"></i></a>
								<div class="news-likes">

									
																			<a href="https://twitter.com/loren_miami"><i class="fa fa-heart"></i> 1</a>
									
								</div>
							</div>
													</div>
					
		</div>
	</div>
	</div></div></div></div><div class="vc_row-full-width"></div>
			</div>

	
			
<!-- FOOTER -->
<footer class="footer">

	<!--COPY-->
		<div class="copy">
		© 2020, Technex . All Rights Reserved.	</div>
	
</footer>  


</body>
