<body id="bar" class="page-template-default page page-id-323 custom-background theme-miami woocommerce-no-js wpb-js-composer js-comp-ver-4.11.2.1 vc_responsive" >
	
        <!-- LOADER -->
    
    <!-- HEADER -->



    <div class="wrapper fade-in" >
            <div class="wpb_column vc_column_container vc_col-sm-12  margin-lg-100t margin-sm-180t margin-xs-100t">
            <div class="vc_column-inner "><div class="wpb_wrapper">	<div class="block-header animatedBlock ">
    
            <h1 id="test" class="block-title">Previous Years Sponsors</h1>
    
    </div>
    </div></div>
    </div>
    </div>


                
                    <div id="team" class="container add_animation">
                        <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12  margin-sm-5t margin-xs-5t"><div class="vc_column-inner "><div class="wpb_wrapper">		
 
            </div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner vc_custom_1476796624666"><div class="wpb_wrapper">
    
            <ul class="team-wrap  ">
    
                
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p1.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Publicis Sapient</div>

                                                        </div>
                        </div>
    
                    </li>
    
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p2.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">KJS Cement</div>

                                                        </div>
                        </div>
    
                    </li>
    
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p3.jpg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Honeywell</div>

                                                        </div>
                        </div>
    
                    </li>
                


                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p5.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">IBM</div>

                                                        </div>
                        </div>
    
                    </li>
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p6.jpg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">HONDA</div>

                                                        </div>
                        </div>
    
                    </li>
                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p7.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title"> WORLD QUANT</div>

                                                        </div>
                        </div>
    
                    </li>


                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p8.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Mentor</div>

                                                        </div>
                        </div>
    
                    </li>


                                   
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p9.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">CISCO ThingQbator</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set"  class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p10.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">IOCL</div>

                                                        </div>
                        </div>
    
                    </li>
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p11.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Dainik Jagaran</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p12.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Hewlett Packard Enterprise</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p13.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">NTPC</div>

                                                        </div>
                        </div>
    
                    </li>


                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p14.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Bisleri</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p15.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Uber</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p16.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">HP</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p17.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">UP Sarkar</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p18.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">ICICI Bank</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p19.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Ultra Tech Cement</div>

                                                        </div>
                        </div>
    
                    </li>
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p20.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Pearson</div>

                                                        </div>
                        </div>
    
                    </li>

                                    
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p21.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Integriti</div>

                                                        </div>
                        </div>
    
                    </li>
    
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p22.jpg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Campus France</div>

                                                        </div>
                        </div>
    
                    </li>
    
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p23.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Royal Enfield</div>

                                                        </div>
                        </div>
    
                    </li>
                
               
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p24.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Rasna</div>

                                                        </div>
                        </div>
    
                    </li>

                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p25.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Onida</div>

                                                        </div>
                        </div>
    
                    </li>
                
               
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p26.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">SUNBEAM</div>

                                                        </div>
                        </div>
    
                    </li>

                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p27.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">IndiaTimes</div>

                                                        </div>
                        </div>
    
                    </li>


                                   
                    <li  id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p28.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Zomato</div>

                                                        </div>
                        </div>
    
                    </li>


                                   
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p29.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">CODINGNINJA</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set"  class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set"  src="/assets/image/sponsors/p30.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">RVCJ Media</div>

                                                        </div>
                        </div>
    
                    </li>
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p31.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Redbus</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p32.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">The Souled Store</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p33.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Toppr</div>

                                                        </div>
                        </div>
    
                    </li>


                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p34.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Too Yumm</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p35.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Cavin's</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p36.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">BEARDO</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p37.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Grapevine</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p38.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Udaan Shiksha</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p39.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Reliance Jweller</div>

                                                        </div>
                        </div>
    
                    </li>
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p40.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">O'barba</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p41.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">Startup Buddy</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p42.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">9stacks</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p43.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">L1 COACHING</div>

                                                        </div>
                        </div>
    
                    </li>


                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p44.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">I EDUCARE</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p45.png" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">VANDANA FASHION</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p46.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">TASTE FACTORY</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p47.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">BINDAAS</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p48.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">PIZZERIA</div>

                                                        </div>
                        </div>
    
                    </li>

                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p49.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">SATKAR</div>

                                                        </div>
                        </div>
    
                    </li>
                    <li id="set" class="team-item animatedBlock  ">
                        <div class="team-img"><img id="set" src="/assets/image/sponsors/p50.jpeg" alt=""></div>					<div class="descr">
                            <div class="vertical-align">
                                                                <div class="team-title">ACT II popcorn</div>

                                                        </div>
                        </div>
    
                    </li>




            </ul>
            </div></div></div></div>
                    </div>
    
    
    
                
    <!-- FOOTER -->
    <footer class="footer">
    
        <!--COPY-->
            <div class="copy">
            © 2016, Technex 20. All Rights Reserved.	</div>
        
    </footer>  

    </body>
